{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <h1 class="display-4">Django Blogs</h1>
    <p class="lead">A Simple Blogging Platform</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-6">
            <h2>What is Django Blogs?</h2>
            <p>
                Django Blogs is a simple and lightweight blogging application built with Django.
                It allows users to register and create their own blogs where they can write short and informative posts.
            </p>
        </div>
        <div class="col-md-6">
            <h2>Getting Started</h2>
            <p>
                To start using Django Blogs, simply register for an account and create your own blog.
                You can then write and publish blog posts on any topic that interests you.
                The application provides a user-friendly interface for creating and managing your blog content.
            </p>
        </div>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Developers Note</h5>
        <p class="card-text">Django Blogs is an open-source project. We welcome contributions from the community! If
            you're interested in helping out, you can:</p>
        <ul>
            <li>Contribute to the project on GitHub: github.com/gh0stfkr </li>
            <li>Help keep the project running by donating: twitter.com/gh0stfrk </li>
        </ul>
    </div>
</div>
{% endblock content %}