{% extends "blog/base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section border mt-2 rounded p-2">
        <div class="media-body">
          <div class="article-metadata p-1">
          	<img class="rounded-circle" style="aspect-ratio: 1/1; width: 50px;" src="{{ post.author.profile.image.url }}" alt="profile_photo">
            <!-- {% cloudinary profile.image width=80 height=80 %} -->
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title p-2" href="{% url 'detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content p-2">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}
